table{
	border-collapse:collapse;
	width:100%;
	font-size:18px;
	font-style:italic;
	text-align:center;
}
th{
	background-color:dodgerblue;
	color:white;
}
th,td{
	border:2px solid #ddd;
	padding:15px;
}
.res-table{
	overflow-x:auto;
}